Day 6/Demo 2/LogicApp_X12_to_Internal_Order_Format.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "x12Message": {
                                "type": "string",
                                "description": "Raw X12 850 Purchase Order message"
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Decode_X12_message": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['x12']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['x12Message']",
                    "path": "/decode"
                }
            },
            "Parse_Decoded_X12": {
                "runAfter": {
                    "Decode_X12_message": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Decode_X12_message')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "TransactionSets": {
                                "type": "array"
                            }
                        }
                    }
                }
            },
            "Transform_to_Internal_Format": {
                "runAfter": {
                    "Parse_Decoded_X12": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": {
                    "orderId": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['BEG']?['BEG03']",
                    "orderType": "PurchaseOrder",
                    "orderDate": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['BEG']?['BEG05']",
                    "requestedDeliveryDate": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['DTM']?[0]?['DTM02']",
                    "customer": {
                        "customerId": "@body('Parse_Decoded_X12')?['ISA']?['ISA06']",
                        "name": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['N1Loop']?[0]?['N1']?['N102']",
                        "identifierCode": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['N1Loop']?[0]?['N1']?['N103']",
                        "identifier": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['N1Loop']?[0]?['N1']?['N104']"
                    },
                    "supplier": {
                        "supplierId": "@body('Parse_Decoded_X12')?['ISA']?['ISA08']",
                        "name": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['N1Loop']?[1]?['N1']?['N102']"
                    },
                    "lineItems": "@body('Parse_Decoded_X12')?['TransactionSets']?[0]?['PO1Loop']",
                    "totalAmount": 0,
                    "currency": "USD",
                    "status": "pending",
                    "metadata": {
                        "receivedAt": "@utcNow()",
                        "source": "X12_EDI",
                        "interchangeControlNumber": "@body('Parse_Decoded_X12')?['ISA']?['ISA13']",
                        "functionalGroupControlNumber": "@body('Parse_Decoded_X12')?['GS']?['GS06']",
                        "transactionSetControlNumber": "@body('Parse_Decoded_X12')?['ST']?['ST02']"
                    }
                }
            },
            "Initialize_LineItems_Array": {
                "runAfter": {
                    "Transform_to_Internal_Format": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "processedLineItems",
                            "type": "array",
                            "value": []
                        }
                    ]
                }
            },
            "Initialize_TotalAmount": {
                "runAfter": {
                    "Initialize_LineItems_Array": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "totalAmount",
                            "type": "float",
                            "value": 0
                        }
                    ]
                }
            },
            "Process_Each_LineItem": {
                "runAfter": {
                    "Initialize_TotalAmount": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach",
                "foreach": "@outputs('Transform_to_Internal_Format')?['lineItems']",
                "actions": {
                    "Calculate_LineTotal": {
                        "type": "Compose",
                        "inputs": "@mul(float(items('Process_Each_LineItem')?['PO1']?['PO102']), float(items('Process_Each_LineItem')?['PO1']?['PO104']))"
                    },
                    "Format_LineItem": {
                        "runAfter": {
                            "Calculate_LineTotal": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose",
                        "inputs": {
                            "lineNumber": "@items('Process_Each_LineItem')?['PO1']?['PO101']",
                            "quantity": "@float(items('Process_Each_LineItem')?['PO1']?['PO102'])",
                            "unitOfMeasure": "@items('Process_Each_LineItem')?['PO1']?['PO103']",
                            "unitPrice": "@float(items('Process_Each_LineItem')?['PO1']?['PO104'])",
                            "productId": "@items('Process_Each_LineItem')?['PO1']?['PO107']",
                            "productIdQualifier": "@items('Process_Each_LineItem')?['PO1']?['PO106']",
                            "productDescription": "@items('Process_Each_LineItem')?['PID']?[0]?['PID05']",
                            "lineTotal": "@outputs('Calculate_LineTotal')"
                        }
                    },
                    "Append_to_LineItems": {
                        "runAfter": {
                            "Format_LineItem": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "processedLineItems",
                            "value": "@outputs('Format_LineItem')"
                        }
                    },
                    "Update_TotalAmount": {
                        "runAfter": {
                            "Append_to_LineItems": [
                                "Succeeded"
                            ]
                        },
                        "type": "IncrementVariable",
                        "inputs": {
                            "name": "totalAmount",
                            "value": "@outputs('Calculate_LineTotal')"
                        }
                    }
                }
            },
            "Build_Final_Order_Object": {
                "runAfter": {
                    "Process_Each_LineItem": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": {
                    "orderId": "@outputs('Transform_to_Internal_Format')?['orderId']",
                    "orderType": "@outputs('Transform_to_Internal_Format')?['orderType']",
                    "orderDate": "@outputs('Transform_to_Internal_Format')?['orderDate']",
                    "requestedDeliveryDate": "@outputs('Transform_to_Internal_Format')?['requestedDeliveryDate']",
                    "customer": "@outputs('Transform_to_Internal_Format')?['customer']",
                    "supplier": "@outputs('Transform_to_Internal_Format')?['supplier']",
                    "lineItems": "@variables('processedLineItems')",
                    "totalAmount": "@variables('totalAmount')",
                    "currency": "@outputs('Transform_to_Internal_Format')?['currency']",
                    "status": "@outputs('Transform_to_Internal_Format')?['status']",
                    "metadata": "@outputs('Transform_to_Internal_Format')?['metadata']"
                }
            },
            "Send_to_Order_API": {
                "runAfter": {
                    "Build_Final_Order_Object": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "https://your-order-api.example.com/api/orders",
                    "headers": {
                        "Content-Type": "application/json",
                        "X-API-Key": "@parameters('orderApiKey')"
                    },
                    "body": "@outputs('Build_Final_Order_Object')"
                }
            },
            "Response": {
                "runAfter": {
                    "Send_to_Order_API": [
                        "Succeeded"
                    ]
                },
                "type": "Response",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "status": "success",
                        "message": "Order processed and sent to API",
                        "orderId": "@outputs('Transform_to_Internal_Format')?['orderId']",
                        "totalAmount": "@variables('totalAmount')",
                        "apiResponse": "@body('Send_to_Order_API')",
                        "internalOrder": "@outputs('Build_Final_Order_Object')"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            },
            "orderApiKey": {
                "type": "String",
                "defaultValue": "your-api-key-here"
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "x12": {
                    "id": "/subscriptions/20cda7f0-c25d-4fc3-a336-2726df50af21/providers/Microsoft.Web/locations/uksouth/managedApis/x12",
                    "connectionId": "/subscriptions/20cda7f0-c25d-4fc3-a336-2726df50af21/resourceGroups/CSV-to-X12-Blob-Processor_group/providers/Microsoft.Web/connections/x12",
                    "connectionName": "x12",
                    "connectionProperties": {}
                }
            }
        },
        "orderApiKey": {
            "type": "String",
            "value": "your-api-key-here"
        }
    }
}
