Day 9/Demo 1/error-handling-demo/TryCatchDemo/workflow-with-divide-expection.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Scope_Try": {
                "type": "Scope",
                "actions": {
                    "Compose_Request_Context": {
                        "type": "Compose",
                        "inputs": {
                            "correlationId": "@workflow().run.name",
                            "forceFail": "@toLower(coalesce(triggerOutputs()?['queries']?['forceFail'], 'false'))",
                            "message": "@coalesce(triggerBody()?['message'], 'Hello from Day 9 demo')"
                        }
                    },
                    "Check_Force_Failure": {
                        "type": "If",
                        "expression": {
                            "equals": [
                                "@outputs('Compose_Request_Context')?['forceFail']",
                                "true"
                            ]
                        },
                        "actions": {
                            "Compose": {
                                "type": "Compose",
                                "inputs": "@div(1,0)"
                            }
                        },
                        "else": {
                            "actions": {
                                "Compose_Success_Message": {
                                    "type": "Compose",
                                    "inputs": "Main processing completed successfully."
                                }
                            }
                        },
                        "runAfter": {
                            "Compose_Request_Context": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {},
                "trackedProperties": {
                    "correlationId": "@workflow().run.name",
                    "scope": "try"
                }
            },
            "Scope_Catch": {
                "type": "Scope",
                "actions": {
                    "Compose_Error_Details": {
                        "type": "Compose",
                        "inputs": {
                            "correlationId": "@workflow().run.name",
                            "status": "@actions('Scope_Try')?['status']",
                            "error": "@actions('Scope_Try')?['error']"
                        }
                    }
                },
                "runAfter": {
                    "Scope_Try": [
                        "Failed",
                        "TimedOut"
                    ]
                },
                "trackedProperties": {
                    "correlationId": "@workflow().run.name",
                    "scope": "catch"
                }
            },
            "Scope_Finally": {
                "type": "Scope",
                "actions": {
                    "Compose_Finally": {
                        "type": "Compose",
                        "inputs": {
                            "finishedAt": "@utcNow()",
                            "tryStatus": "@actions('Scope_Try')?['status']"
                        }
                    }
                },
                "runAfter": {
                    "Scope_Try": [
                        "Succeeded",
                        "Failed",
                        "TimedOut"
                    ],
                    "Scope_Catch": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "correlationId": "@workflow().run.name",
                    "scope": "finally"
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}