Day 6/Demo 1/LogicApp_X12_Decode_to_JSON.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "x12Message": {
                                "type": "string",
                                "description": "Raw X12 850 Purchase Order message"
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Debug_Raw_Decode_Output": {
                "type": "Compose",
                "inputs": "@body('Decode_X12_message')",
                "runAfter": {
                    "Decode_X12_message": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_X12_Decoded_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Decode_X12_message')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "TransactionSets": {
                                "type": "array"
                            },
                            "ISA": {
                                "type": "object"
                            },
                            "GS": {
                                "type": "object"
                            },
                            "ST": {
                                "type": "object"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Debug_Raw_Decode_Output": [
                        "Succeeded"
                    ]
                }
            },
            "Extract_All_Segments": {
                "type": "Compose",
                "inputs": {
                    "DecodedMessage": "@body('Parse_X12_Decoded_JSON')",
                    "ISA_InterchangeControlHeader": "@body('Parse_X12_Decoded_JSON')?['ISA']",
                    "GS_FunctionalGroupHeader": "@body('Parse_X12_Decoded_JSON')?['GS']",
                    "ST_TransactionSetHeader": "@body('Parse_X12_Decoded_JSON')?['ST']",
                    "BEG_BeginningSegment": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['BEG']",
                    "REF_ReferenceIdentification": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['REF']",
                    "DTM_DateTimeReference": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['DTM']",
                    "N1_Name": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['N1Loop']",
                    "PO1_BaselineItemData": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['PO1Loop']",
                    "CTT_TransactionTotals": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['CTT']",
                    "SE_TransactionSetTrailer": "@body('Parse_X12_Decoded_JSON')?['SE']",
                    "GE_FunctionalGroupTrailer": "@body('Parse_X12_Decoded_JSON')?['GE']",
                    "IEA_InterchangeControlTrailer": "@body('Parse_X12_Decoded_JSON')?['IEA']"
                },
                "runAfter": {
                    "Parse_X12_Decoded_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Format_Response_JSON": {
                "type": "Compose",
                "inputs": {
                    "status": "decoded",
                    "timestamp": "@utcNow()",
                    "messageType": "X12_850_PurchaseOrder",
                    "allSegments": "@outputs('Extract_All_Segments')",
                    "summary": {
                        "purchaseOrderNumber": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['BEG']?['BEG03']",
                        "orderDate": "@body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['BEG']?['BEG05']",
                        "sender": "@body('Parse_X12_Decoded_JSON')?['ISA']?['ISA06']",
                        "receiver": "@body('Parse_X12_Decoded_JSON')?['ISA']?['ISA08']",
                        "lineItemCount": "@if(empty(body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['PO1Loop']), 0, length(body('Parse_X12_Decoded_JSON')?['TransactionSets']?[0]?['PO1Loop']))"
                    }
                },
                "runAfter": {
                    "Extract_All_Segments": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "@outputs('Format_Response_JSON')"
                },
                "runAfter": {
                    "Format_Response_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Decode_X12_message": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['x12-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['x12Message']",
                    "path": "/decode"
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "x12-1": {
                    "id": "/subscriptions/20cda7f0-c25d-4fc3-a336-2726df50af21/providers/Microsoft.Web/locations/uksouth/managedApis/x12",
                    "connectionId": "/subscriptions/20cda7f0-c25d-4fc3-a336-2726df50af21/resourceGroups/demo/providers/Microsoft.Web/connections/x12-1",
                    "connectionName": "x12-1"
                }
            }
        }
    }
}